<mat-card>
    <mat-card-header>
        <h1>User Registration</h1>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="registerForm" (ngSubmit)="proceedRegistration()">
            <mat-form-field class=" cardForm">
              <mat-label>Username</mat-label>
              <input matInput formControlName="id">
            </mat-form-field>
            <mat-form-field class=" cardForm">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>
              <mat-form-field class="cardForm">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
              </mat-form-field>
              <mat-form-field class="cardForm">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email">
              </mat-form-field>
              <div>
                <mat-radio-group aria-label="Gender" formControlName="gender">
                    <mat-radio-button value="male">Male</mat-radio-button>
                    <mat-radio-button value="female">Female</mat-radio-button>
                  </mat-radio-group>
              </div>
              <div class="register-buttons">
                <button mat-raised-button color="primary">Submit</button>
                <a routerLink="/login" mat-raised-button color="accent">Back to Login</a>
              </div>
          </form>
    </mat-card-content>
  </mat-card>
  

  
